:host {
    transition: all;
    transition-duration: 0.1s;
}

#gameContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#gameTableContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tableHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

#tableSizeSelect {
    height: 28px;
    font-weight: 600;
    color: rgb(0, 0, 46);
    padding: 2px 5px;
    margin-left: 20px;
    border-style: groove;
    border-width: 2px;
    border-color: rgba(0, 0, 46, 0.4);
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

#tableSizeSelect:hover {
    border-color: rgba(0, 0, 46, 0.9);
    background-color: white;
}

#newGameBtn {
    padding: 5px 25px;
    font-family: Arial;
    font-size: 14px;
    color: white;
    background-color: rgb(0, 0, 46);
    border: groove;
    border-color: rgba(0, 0, 46, 0.4);
    border-radius: 5px;
    cursor: pointer;
    transition: all;
    transition-duration: 0.3s;
}

#newGameBtn:hover {
    background-color: rgb(24, 24, 43);
    transform: translateY(-1px);
    border-color: rgb(21, 21, 44);
}

#gameTime {
    width: 75px;
    display: inline-flex;
    align-items: center;
    border-style: groove;
    border-width: 2px;
    border-color: rgba(0, 0, 46, 0.4);
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    margin-right: 20px;
}

#_x32_ {
    width: 20px;
    padding: 2px 5px;
}

#resultDialog {
    border-radius: 15px;
    background-color: lightgoldenrodyellow;
}

#resultDialog::backdrop {
    background: linear-gradient(45deg, blue, red);
    opacity: 0.4;
}
