<div id="homeContainer">
    <div id="homeTextContainer">
        
        <h2 id="homeTitleText">Junior Full Stack Project</h2>
        <h4 id="homeSubTitleText">for learning and practicing purposes</h4>

        <div>
            <h3>Technologies used:</h3>
            <dl>
                <dt>ANGULAR</dt>
                    <dd>Injectable Singleton Service - to pass data between components through subscriptions</dd>
                    <dd>Routing - primary and auxiliary routes configured</dd>
                    <dd>Renderer2 - to manipulate DOM elements</dd>
                    <dd>CSS Animated HTML Elements - the SVGs are from <a href="https://www.svgrepo.com/" target="_blank">svgrepo.com</a> and <a href="https://fontawesome.com/" target="_blank">fontawesome.com</a></dd>
                    <dd>Stomp Client over SockJS - WebSocket connection and messaging</dd>
                    <dd>REST Access Service - with HttpClientModule and custom request headers (JWT)</dd>
                <dt>JAVA SPRING BOOT</dt>
                    <dd>REST APIs - to access backend features</dd>
                    <dd>Spring Framework - dependency injection</dd>
                    <dd>Spring Security - including JWT authentication/authorization service</dd>
                    <dd>Spring WebSocket - message broker and event listeners</dd>
                    <dd>Spring Data JPA - connecting to the database</dd>
                <dt>MySQL</dt>
                    <dd>User account data and game results in the database</dd>
                <dt>DOCKER</dt>
                    <dd>Creating the image and deploying the application</dd>
            </dl>
        </div>

        <p>{{ getComponentDate() }}</p>

    </div>
</div>
