<div id="rest-access-main">

    <div *ngIf="isPlayerNameAvailable() == false">
        <p class="loginLabelText">{{ getPreLoginMessage() }}</p>
        <form #loginForm="ngForm" (submit)="nameInputHandler(loginForm.value.username)">
            <input type="text" id="longinTextField" name="username" placeholder="PLAYER NAME" ngModel/>
            <input *ngIf="loginForm.value.username?.length > 0" type="submit" id="loginButton"  value="LOG IN"/>
        </form>
    </div>

    <div *ngIf="isPlayerNameAvailable() == true" style="display: flex; flex-direction: column;" (mouseenter)="onMouseEnter(logoutButton)" (mouseleave)="onMouseLeave(logoutButton)">
        <p class="loginLabelText">Hi, <span style="color: red">{{ getPlayerName() }}</span>!</p>
        <button #logoutButton id="logoutButton" (click)="logoutUser()">LOG OUT</button>
    </div>

</div>

