<div class="headerDiv" (click)="startNewGame()">

  <p id="italicAnnouncerText">{{ getAnnouncerText() }}</p>
  <div class="horizontalFlexDiv">
     
    <div id="nextPlayerX" class="playerMark notYouNext">
      <p class="announcerMark">X</p>
    </div>
    <div id="nextPlayerO" class="playerMark notYouNext">
      <p class="announcerMark">O</p>
    </div>

  </div>

  <button id="newGameBtn" style="visibility: hidden;">NEXT GAME</button>

</div>

<table id="gameTable">

    <tr>
        <td>
            <div (click)="playerClick(0,0)" class="clickable iconContainerDiv" id="div0-0">
              <fa-icon *ngIf="getTile(0,0).getMark() != 'EMPTY'" [icon]="getTile(0,0).getIconDefinition()" [animation]="getTile(0,0).getAnimation()" [style]="getTile(0,0).getRecolor()" [size]="getIconSize()" id="icon0-0"></fa-icon>
            </div>
          </td>
          <td>
            <div (click)="playerClick(0,1)" class="clickable iconContainerDiv" id="div0-1">
              <fa-icon *ngIf="getTile(0,1).getMark() != 'EMPTY'" [icon]="getTile(0,1).getIconDefinition()" [animation]="getTile(0,1).getAnimation()" [style]="getTile(0,1).getRecolor()" [size]="getIconSize()" id="icon0-1"></fa-icon>
            </div>
          </td>
          <td>
            <div (click)="playerClick(0,2)" class="clickable iconContainerDiv" id="div0-2">
              <fa-icon *ngIf="getTile(0,2).getMark() != 'EMPTY'" [icon]="getTile(0,2).getIconDefinition()" [animation]="getTile(0,2).getAnimation()" [style]="getTile(0,2).getRecolor()" [size]="getIconSize()" id="icon0-2"></fa-icon>
            </div>
          </td>
    </tr>

    <tr>
        <td>
            <div (click)="playerClick(1,0)" class="clickable iconContainerDiv" id="div1-0">
              <fa-icon *ngIf="getTile(1,0).getMark() != 'EMPTY'" [icon]="getTile(1,0).getIconDefinition()" [animation]="getTile(1,0).getAnimation()" [style]="getTile(1,0).getRecolor()" [size]="getIconSize()" id="icon1-0"></fa-icon>
            </div>
          </td>
          <td>
            <div (click)="playerClick(1,1)" class="clickable iconContainerDiv" id="div1-1">
              <fa-icon *ngIf="getTile(1,1).getMark() != 'EMPTY'" [icon]="getTile(1,1).getIconDefinition()" [animation]="getTile(1,1).getAnimation()" [style]="getTile(1,1).getRecolor()" [size]="getIconSize()" id="icon1-1"></fa-icon>
            </div>
          </td>
          <td>
            <div (click)="playerClick(1,2)" class="clickable iconContainerDiv" id="div1-2">
              <fa-icon *ngIf="getTile(1,2).getMark() != 'EMPTY'" [icon]="getTile(1,2).getIconDefinition()" [animation]="getTile(1,2).getAnimation()" [style]="getTile(1,2).getRecolor()" [size]="getIconSize()" id="icon1-2"></fa-icon>
            </div>
          </td>
    </tr>

    <tr>
        <td>
            <div (click)="playerClick(2,0)" class="clickable iconContainerDiv" id="div2-0">
              <fa-icon *ngIf="getTile(2,0).getMark() != 'EMPTY'" [icon]="getTile(2,0).getIconDefinition()" [animation]="getTile(2,0).getAnimation()" [style]="getTile(2,0).getRecolor()" [size]="getIconSize()" id="icon2-0"></fa-icon>
            </div>
          </td>
          <td>
            <div (click)="playerClick(2,1)" class="clickable iconContainerDiv" id="div2-1">
              <fa-icon *ngIf="getTile(2,1).getMark() != 'EMPTY'" [icon]="getTile(2,1).getIconDefinition()" [animation]="getTile(2,1).getAnimation()" [style]="getTile(2,1).getRecolor()" [size]="getIconSize()" id="icon2-1"></fa-icon>
            </div>
          </td>
          <td>
            <div (click)="playerClick(2,2)" class="clickable iconContainerDiv" id="div2-2">
              <fa-icon *ngIf="getTile(2,2).getMark() != 'EMPTY'" [icon]="getTile(2,2).getIconDefinition()" [animation]="getTile(2,2).getAnimation()" [style]="getTile(2,2).getRecolor()" [size]="getIconSize()" id="icon2-2"></fa-icon>
            </div>
          </td>
    </tr>

</table>
