<div id="componentContainer">

    <router-outlet name="game"></router-outlet>

    <div id="childRouterSelector" *ngIf="childRouterActive() == false; else backToSelector">

        <div class="gameModeSelector">
            <h4 style="margin-bottom: 0"><span style="color: red">TIC-TAC-TOE:</span> LOCAL MULTIPLAYER</h4>
            <p style="margin-top: 5px;">Play with your friends on the same screen, same device.</p>
            <div class="selectorBtnFlexContainer">
                <button class="selectorBtn" (click)="createLocalGame()">CREATE LOCAL GAME</button>
            </div>
        </div>

        <div class="gameModeSelector">
            <h4 style="margin-bottom: 0"><span style="color: red">TIC-TAC-TOE:</span> ONLINE MULTIPLAYER</h4>
            <p style="margin-top: 5px;">Play online. Invite your friends to your game or join other's session.</p>
            <div class="selectorBtnFlexContainer">

                <button class="selectorBtn" style="margin-bottom: 18.62px;" (click)="createOnlineGame()">CREATE NEW ONLINE GAME</button>

                <div id="joinFormHeader">
                    <p id="joinFormHeaderText">Join an existing game:</p>
                    <form #joinForm="ngForm" (submit)="joinOnlineGame(joinForm.value.url)" id="joinForm">
                        <input type="text" id="urlTextField" name="url" placeholder="URL or SESSION ID..." autocomplete="off" ngModel/>
                        <button *ngIf="joinForm.value.url?.length > 0" type="submit" id="joinButton">JOIN</button>
                    </form>
                </div>

                <p style="height: 19px; margin: 5px; color: red">{{ getOnlineGameErrorMessage() }}</p>

            </div>
        </div>

    </div>

    <ng-template #backToSelector><button id="backBtn" [routerLink]="[{outlets: { 'game':  null }}]">< BACK TO MODE SELECTION</button></ng-template>

    <div id="chatContainer">
        <div *ngIf="isConnectedToSocket() == true; else pleaseLogin">

            <div id="chatHeader">
                <h3>Chat: Looking For Match</h3>
            </div>
            <div id="chatMessages">
                <ul id="messageArea">
        
                </ul>
            </div>
            <form #messageForm="ngForm" id="messageForm" (submit)="sendMessage(messageForm)">
                <input type="text" id="message" name="message" placeholder="Type a message..." autocomplete="off" ngModel/>
                <button type="submit" class="sendButton">Send</button>
            </form>

        </div>

        <ng-template #pleaseLogin><p id="notLoggedIn">To access group finder chat, please log in with a player name above.</p></ng-template>
    </div>
</div>
