<div id="componentContainer">

    <router-outlet name="game"></router-outlet>

    <div id="childRouter">
        <p [routerLink]="[{outlets: { 'game': ['local']}}]">Local</p>
        <p [routerLink]="[{outlets: { 'game': ['online']}}]">Online</p>
        <p [routerLink]="[{outlets: { 'game':  null }}]">Back</p>
    </div>

    <div id="chatContainer">
        <div *ngIf="isConnectedToSocket() == true; else pleaseLogin">

            <div id="chatHeader">
                <h3>Chat: Looking For Match</h3>
            </div>
            <div id="chatMessages">
                <ul id="messageArea">
        
                </ul>
            </div>
            <form #messageForm="ngForm" id="messageForm" (submit)="sendMessage(messageForm)">
                <input type="text" id="message" name="message" placeholder="Type a message..." autocomplete="off" ngModel/>
                <button type="submit" class="sendButton">Send</button>
            </form>

        </div>

        <ng-template #pleaseLogin><p id="notLoggedIn">To acces group finder chat, please log in with a player name above.</p></ng-template>
    </div>
</div>
