<div id="componentContainer">
    <router-outlet name="game"></router-outlet>

    <div id="childRouter">
        <p [routerLink]="[{outlets: { 'game': ['local']}}]">Local</p>
        <p [routerLink]="[{outlets: { 'game': ['online']}}]">Online</p>
        <p [routerLink]="[{outlets: { 'game':  null }}]">Back</p>
    </div>

    <div id="chat-page" *ngIf="isConnectedToSocket() == true; else pleaseLogin">
        <div class="chat-container">
            <div class="chat-header">
                <h3>Chat: Looking For Group <span style="font-size: x-small;">(0 online)</span></h3>
            </div>
            <ul id="messageArea">
    
            </ul>
            <form #messageForm="ngForm" id="messageForm" (submit)="sendMessage(messageForm.value.message)">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="text" id="message" name="message" placeholder="Type a message..." autocomplete="off" class="form-control" ngModel/>
                        <button type="submit" class="primary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <ng-template #pleaseLogin>To acces group finder chat, please log in with a player name.</ng-template>
</div>
