:host {
    transition: all;
    transition-duration: 0.1s;
}

#gameContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#gameTableContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#gameTable {
    border-style: none;
    border-spacing: 0px;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

table, tr, td, div {
    transition: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    padding: 0px;
}

.tiles-style-a {
    width: 20px;
    height: 20px;
    background-color: bisque;
    border-style: ridge;
    border-width: 3px;
    border-color: blanchedalmond;
    padding: 0px;
    text-align: center;
}

.tiles-style-a:hover {
    transition-duration: 0.05s;
    background-color: white;
}

.tiles-style-b {
    width: 20px;
    height: 20px;
    background-color: rgb(250, 205, 150);
    border-style: ridge;
    border-width: 3px;
    border-color: blanchedalmond;
    padding: 0px;
    text-align: center;
}

.tiles-style-b:hover {
    transition-duration: 0.05s;
    background-color: white;
}

.tiles-explored-style-a {
    width: 20px;
    height: 20px;
    background-color: #eed9c4ec;
    border-style: solid;
    border-width: 3px;
    border-color: #CD7F32;
    padding: 0px;
    text-align: center;
}

.tiles-explored-style-b {
    width: 20px;
    height: 20px;
    background-color: #edc9afec;
    border-style: solid;
    border-width: 3px;
    /* border-color: rgb(253, 241, 222); */
    border-color: #CD7F32;
    padding: 0px;
    text-align: center;
}

.counterText {
    all: unset;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100%;
}