:host {
    transition: all;
    transition-duration: 0.1s;
}

#gameContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#gameTableContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#tableHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

#tableSizeSelect {
    height: 28px;
    font-weight: 600;
    color: rgb(0, 0, 46);
    padding: 2px 5px;
    margin-left: 20px;
    border-style: groove;
    border-width: 2px;
    border-color: rgba(0, 0, 46, 0.4);
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

#tableSizeSelect:hover {
    border-color: rgba(0, 0, 46, 0.9);
    background-color: white;
}

#newGameBtn {
    padding: 5px 25px;
    font-family: Arial;
    font-size: 14px;
    color: white;
    background-color: rgb(0, 0, 46);
    border: groove;
    border-color: rgba(0, 0, 46, 0.4);
    border-radius: 5px;
    cursor: pointer;
    transition: all;
    transition-duration: 0.3s;
}

#newGameBtn:hover {
    background-color: rgb(24, 24, 43);
    transform: translateY(-1px);
    border-color: rgb(21, 21, 44);
}

#gameTime {
    width: 75px;
    display: inline-flex;
    align-items: center;
    border-style: groove;
    border-width: 2px;
    border-color: rgba(0, 0, 46, 0.4);
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    margin-right: 20px;
}

#_x32_ {
    width: 20px;
    padding: 2px 5px;
}

#gameTable {
    border-style: none;
    border-spacing: 0px;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

table, tr, td, div {
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    padding: 0px;
}

.tiles-style-a {
    width: 20px;
    height: 20px;
    background-color: bisque;
    border-style: ridge;
    border-width: 3px;
    border-color: blanchedalmond;
    padding: 0px;
    text-align: center;
}

.tiles-style-a:hover {
    transition-duration: 0.05s;
    background-color: white;
}

.tiles-style-b {
    width: 20px;
    height: 20px;
    background-color: rgb(250, 205, 150);
    border-style: ridge;
    border-width: 3px;
    border-color: blanchedalmond;
    padding: 0px;
    text-align: center;
}

.tiles-style-b:hover {
    transition-duration: 0.05s;
    background-color: white;
}

.tiles-explored-style-a {
    width: 20px;
    height: 20px;
    background-color: #eed9c4ec;
    border-style: groove;
    border-width: 3px;
    border-color: #CD7F32;
    padding: 0px;
    text-align: center;
}

.tiles-explored-style-b {
    width: 20px;
    height: 20px;
    background-color: #edc9afec;
    border-style: groove;
    border-width: 3px;
    /* border-color: rgb(253, 241, 222); */
    border-color: #CD7F32;
    padding: 0px;
    text-align: center;
}

.counterText {
    all: unset;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100%;
}