
#gameTable {
    border-style: none;
    border-spacing: 0px;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

table, tr, td, div {
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    padding: 0px;
}

.tiles-style-a {
    width: 20px;
    height: 20px;
    background-color: bisque;
    border-style: ridge;
    border-width: 3px;
    border-color: blanchedalmond;
    padding: 0px;
    text-align: center;
}

.tiles-style-a:hover {
    transition-duration: 0.05s;
    background-color: white;
}

.tiles-style-b {
    width: 20px;
    height: 20px;
    background-color: rgb(250, 205, 150);
    border-style: ridge;
    border-width: 3px;
    border-color: blanchedalmond;
    padding: 0px;
    text-align: center;
}

.tiles-style-b:hover {
    transition-duration: 0.05s;
    background-color: white;
}

.tiles-explored-style-a {
    width: 20px;
    height: 20px;
    background-color: lightblue;
    border-style: groove;
    border-width: 3px;
    border-color: lightskyblue;
    padding: 0px;
    text-align: center;
}

.tiles-explored-style-b {
    width: 20px;
    height: 20px;
    background-color: lightsteelblue;
    border-style: groove;
    border-width: 3px;
    border-color: lightskyblue;
    padding: 0px;
    text-align: center;
}

.counterText {
    all: unset;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100%;
}