<div id="homeContainer">
    
    <h2 id="homeTitleText">Junior Full Stack Project</h2>
    <h4 id="homeSubTitleText">for learning and practicing purposes</h4>

    <div>
        <h3>Technologies used:</h3>
        <dl>
            <dt>ANGULAR</dt>
                <dd>Injectable Singleton Service - to pass data between components through subscriptions</dd>
                <dd>Routing - RouterModule configured</dd>
                <dd>Renderer2 - to manipulate DOM elements</dd>
                <dd>UI Design Features - SVGs and CSS animations</dd>
                <dd>REST Access Service - with HttpClientModule and custom request headers (JWT)</dd>
            <dt>JAVA SPRING BOOT</dt>
                <dd>REST APIs - to access backend features</dd>
                <dd>Spring Framework - dependency injection</dd>
                <dd>Spring Security - including JWT authentication/authorization service</dd>
                <dd>Spring Data JPA - connecting to the database</dd>
            <dt>MySQL</dt>
                <dd>User account data and game results in the database</dd>
            <dt>Docker</dt>
                <dd>Creating the image and deploying the application</dd>
        </dl>
    </div>

    <p>2023.10.13</p>

</div>